.pricing-page .single-price {
    text-align: center;
    background: #262626;
    transition: .7s;
    margin-top: 20px;
}

.pricing-page .single-price h3 {
    font-size: 25px;
    font-weight: 600;
    text-align: center;
    margin: -80px 0 0;
    font-family: poppins, serif;
    color: #fff;
}

.pricing-page .single-price h4 {
    font-size: 48px;
    font-weight: 500;
    color: #fff;
}

.pricing-page .single-price h4 span.sup {
    vertical-align: text-top;
    font-size: 25px;
}

.pricing-page .deal-top {
    position: relative;
    background: #16A086;
    font-size: 16px;
    text-transform: uppercase;
    padding: 136px 24px 0;
}

.pricing-page .deal-top::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -50px;
    width: 0;
    height: 0;
    border-top: 50px solid #16A086;
    border-left: 113px solid transparent;
    border-right: 113px solid transparent;
}

.pricing-page .deal-bottom {
    padding: 56px 16px 0;
}

.pricing-page .deal-bottom ul {
    margin: 0;
    padding: 0;
}

.pricing-page .deal-bottom ul li {
    font-size: 16px;
    color: #fff;
    font-weight: 300;
    margin-top: 16px;
    border-top: 1px solid #E4E4E4;
    padding-top: 16px;
    list-style: none;
}

.pricing-page .btn-area a {
    display: inline-block;
    font-size: 18px;
    color: #fff;
    background: #16A086;
    padding-top: 8px;
    padding-bottom: 8px;
    margin-top: 32px;
    border-radius: 4px;
    margin-bottom: 40px;
    text-transform: uppercase;
    font-weight: bold;
    text-decoration: none;
}


.pricing-page .single-price:hover {
    background: #16A086;
}

.pricing-page .single-price:hover .deal-top {
    background: #262626;
}

.pricing-page .single-price:hover .deal-top:after {
    border-top: 50px solid #262626;
}

.pricing-page .single-price:hover .btn-area a {
    background: #262626;
}
